.catalogs-index {
    margin: 10px auto;
    width: 50%;
}

.title {
    font-weight: bold;
}
.categories {
    margin-left: 10px;
}

.img-responsive {
    max-height: 100%;
    width: auto;
}

.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 800px;
    height: 200px;
}
.wraptocenter * {
    vertical-align: middle;
}

.family-title {
    text-align: center;
    font-size: 10px;
}

.family-title-lg {
    font-size: 14px;
    font-weight: bold;
}

.family-box {
    margin-top: 20px;
}

.thumbnail-box {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding-right: 10px;
    margin-right: 10px;
    height: 230px;
}

a {
    cursor: pointer;
}

.no-js #loader { display: none;  }

.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../image/Preloader.gif) center no-repeat #fff;
}

.pre-word {
    position: absolute;
    top: 65%;
    left: 50%;
    /*margin-top: 50px;*/
    margin-left: -50px;
    z-index: 9999;
}